---
---

<h4>theme toggle with no js</h4>
<div class='has-toggle-demo'>
  <label for='dark-theme-toggle'>
    <span class='dark-theme'>🌙</span>
    <input
      id='dark-theme-toggle'
      type='checkbox'
      aria-label='active-dark-theme'
    />
    <span class='light-theme'>🌞</span>
  </label>
</div>
