---
---

<h4>
  2 sibling grids with their content aligned together horizontally and
  vertically
</h4>
<div class='subgrid-demo-1-container'>
  <div class='grid-1'>
    <div class='title'>
      Fake title 1 - Fake title 1 - Fake title 1 - Fake title 1 -
    </div>
    <div class='author'>
      <picture>
        <source
          srcset='./assets/images/raphael-ferrand-blue-gradient-map-over-pink-bg.jpg?as=avif&width=150'
          type='image/avif'
        />
        <source
          srcset='./assets/images/raphael-ferrand-blue-gradient-map-over-pink-bg.jpg?as=webp&width=50'
          type='image/webp'
        />
        <source
          srcset='./assets/images/raphael-ferrand-blue-gradient-map-over-pink-bg.jpg?width=50'
          type='image/jpeg'
        />
        <img
          src='./assets/images/raphael-ferrand-blue-gradient-map-over-pink-bg.jpg?width=50'
          alt='arctic landscape'
        />
      </picture>
    </div>
    <div class='image'>
      <picture>
        <source
          srcset='./assets/images/yan-savitsky-hmn03dAKS9g-unsplash.jpg?as=avif&width=400'
          type='image/avif'
        />
        <source
          srcset='./assets/images/yan-savitsky-hmn03dAKS9g-unsplash.jpg?as=webp&width=200'
          type='image/webp'
        />
        <source
          srcset='./assets/images/yan-savitsky-hmn03dAKS9g-unsplash.jpg?width=200'
          type='image/jpeg'
        />
        <img
          src='./assets/images/yan-savitsky-hmn03dAKS9g-unsplash.jpg?width=200'
          alt='arctic landscape'
        />
      </picture>
    </div>
    <div class='text'>
      And now a small fake paragraph lorem ipsum life is beautiful.
    </div>
    <div class='footnotes'>Footnotes about the main article image.</div>
  </div>
  <div class='grid-2'>
    <div class='title'>
      Fake title 2 - Fake title 2 - Fake title 2 - Fake title 2 - Fake title 2 -
    </div>
    <div class='author'>
      <picture>
        <source
          srcset='./assets/images/raphael-ferrand-glitch-b&w-bgjpg.jpg?as=avif&width=150'
          type='image/avif'
        />
        <source
          srcset='./assets/images/raphael-ferrand-glitch-b&w-bgjpg.jpg?as=webp&width=50'
          type='image/webp'
        />
        <source
          srcset='./assets/images/raphael-ferrand-glitch-b&w-bgjpg.jpg?width=50'
          type='image/jpeg'
        />
        <img
          src='./assets/images/raphael-ferrand-glitch-b&w-bgjpg.jpg?width=50'
          alt='arctic landscape'
        />
      </picture>
    </div>
    <div class='image'>
      <picture>
        <source
          srcset='./assets/images/mathieu-ramus-DGohMzoMBwY-unsplash.jpg?as=avif&width=400'
          type='image/avif'
        />
        <source
          srcset='./assets/images/mathieu-ramus-DGohMzoMBwY-unsplash.jpg?as=webp&width=200'
          type='image/webp'
        />
        <source
          srcset='./assets/images/mathieu-ramus-DGohMzoMBwY-unsplash.jpg?width=200'
          type='image/jpeg'
        />
        <img
          src='./assets/images/mathieu-ramus-DGohMzoMBwY-unsplash.jpg?width=200'
          alt='arctic landscape'
        />
      </picture>
    </div>
    <div class='text'>
      And now a small fake paragraph lorem ipsum life is beautiful. And now a
      small fake paragraph lorem ipsum life is beautiful. And now a small fake
      paragraph lorem ipsum life is beautiful.
    </div>
    <div class='footnotes'>Footnotes about the main article image.</div>
  </div>
</div>
<style></style>
