---
import Layout from "../layouts/Layout.astro";
import PostsList from "../components/PostsList.astro";
import ArrowRight from "../icons/ArrowRight.astro";
import SplashScreen from "../components/SplashScreen.astro";
---

<Layout title='Web Experiment - Raphael Ferrand digital garden'>
  <main>
    <section class='splash-screen'>
      <SplashScreen />
    </section>
    <section>
      <div class='section-header'>
        <h2>
          <span class='text-gradient'>Latest</span> explorations
        </h2>
        <div class='arrow'>
          <ArrowRight />
        </div>
      </div>
      <PostsList />
    </section>

    <style>
      .text-gradient {
        background-image: var(--accent-gradient-red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
      }
      section,
      .splash-screen {
        width: 100%;
        min-height: 90vh;
      }
      section:not(.splash-screen) .section-header .arrow {
        margin-left: 6px;
        transition: ease-in-out 0.05s transform;
      }
      section:not(.splash-screen) .section-header:hover .arrow {
        transform: translate3d(5px, 0, 0);
      }
      section:not(.splash-screen) {
        padding-top: 100px;
        max-width: 80vw;
      }
      section .section-header {
        display: flex;
        align-items: baseline;
        align-self: flex-start;
      }
    </style>
  </main>
</Layout>
