---
interface Props {
  tldrContent: string | string[];
}
const { tldrContent } = Astro.props;
---

<section>
  <h2>⚡ TL;DR</h2>
  {
    Array.isArray(tldrContent) ? (
      <div class='content'>
        <p>{tldrContent.shift()}</p>
        <ul>
          {tldrContent.map((txt) => (
            <li>{txt}</li>
          ))}
        </ul>
      </div>
    ) : (
      <p class='content'>{tldrContent}</p>
    )
  }
</section>
<style>
  section {
    margin: 30px 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    border: 1px solid var(--pink-1-rgba);
    border-radius: 50px;
  }
  h1 {
    width: 33%;
    text-align: center;
  }
  .content {
    width: 66%;
  }
  @media screen and (min-width: 800px) {
    section {
      margin: 50px 0;
      flex-direction: row;
      gap: 50px;
      padding: 50px;
    }
  }
</style>
