---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Web Experiment - Raphael Ferrand digital garden'>
  <main>
    <h1>This page is not ready yet ... gloups ... sorry</h1>
    <img
      class='illustration storm'
      src='/images/storm-rain.png'
      alt='storm & rainy dark cloud'
    />
    <img
      class='illustration ghost'
      src='/images/pink-ghost.png'
      alt='cute pink ghost'
    />
    <a href='/' class='btn lg'>Get me back to the homepage</a>
  </main>
</Layout>
<style>
  main {
    --primary-color-full: var(--purple-1-oklch-full);
    --primary-color-25: var(--purple-1-oklch-25);
    padding: 5vw 10vw;
    flex: 1;
    background: var(--primary-color-25);
    border-radius: 0 0 3rem 3rem;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--purple-1-oklch-full);
  }
  .illustration {
    position: absolute;
  }
  .storm {
    width: 100px;
    top: 5%;
    left: 20%;
    animation: 5s bounce-wait 0s ease-in-out infinite;
  }
  .ghost {
    width: 100px;
    height: auto;
    bottom: 2%;
    right: 20%;
    animation: 5s bounce-wait 0.3s ease-in-out infinite;
  }
  @media screen and (min-width: 800px) {
    main {
      border-radius: 0 0 4rem 4rem;
    }
    h1 {
      font-size: 4rem;
    }
    .storm,
    .ghost {
      width: 300px;
    }
    .storm {
      top: 15%;
    }
    .ghost {
      bottom: 15%;
    }
  }
  @media screen and (min-width: 1000px) {
    main {
      border-radius: 0 0 5.5rem 5.5rem;
    }
    .storm,
    .ghost {
      width: 200px;
    }
    .storm {
      top: 10%;
    }
    .ghost {
      bottom: 10%;
    }
  }
</style>
