---
const posts = ["has", "subgrid", "container", "css layers"];
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/${post}`}>
          {post}
          <img
            src={`/images/${post?.thumbnail?.path ?? "Saly-1.png"}`}
            alt=''
          />
        </a>
      </li>
    ))
  }
</ul>
<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style-type: none;
  }
  li {
    position: relative;
    /* display: grid;
    grid-template-areas: ''; */
  }
  a {
    border-radius: 25px;
    height: 200px;
    width: 300px;
    padding: 2rem;
    display: grid;
    place-items: center;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
  }
  li img {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  li:nth-of-type(1) a {
    background: var(--violet-1);
    color: #fff;
  }
  li:nth-of-type(2) a {
    background: var(--red-1);
    color: #fff;
  }
  li:nth-of-type(3) a {
    background: var(--blue-1);
    color: #fff;
  }
  li:nth-of-type(4) a {
    background: var(--pink-1);
    color: #fff;
  }
  li:nth-of-type(5) a {
    background: var(--purple-1);
    color: #fff;
  }
</style>
