---
import BouncingScroll from "../components/BouncingScroll.astro";
---

<div class='splash-screen-container'>
  <div>
    <h1>Web Experiment</h1>
    <h2>A playground to explore CSS features</h2>
    <p class='definition'>
      <span>experiment</span>
      <span>ĭk-spĕr′ə-mənt</span>
      <span>noun</span>
      <span
        >A test under controlled conditions that is made to demonstrate a known
        truth, examine the validity of a hypothesis, or determine the efficacy
        of something previously untried.The process of conducting such a test;
        experimentation.An innovative act or procedure.</span
      >
    </p>
  </div>
  <div class='illustration-spash-screen'>
    <img src='/images/Saly-3.png' alt='a happy man on a Vespa' />
  </div>
  <BouncingScroll object='circle' duration='1.4' />
</div>

<style>
  h1 {
    font-size: 6rem;
    font-weight: 800;
    margin: 0;
  }
  .illustration-spash-screen img {
    max-width: 300px;
    position: absolute;
    top: 250px;
  }
  .definition {
    display: none;
  }

  .splash-screen-container {
    display: grid;
    place-items: center;
    border-radius: 6rem;
    width: calc(100% - 3rem);
    height: 90vh;
    margin: 1.5rem auto;
    background: var(--gradient-multi-radial);
    /* background: var(--accent-gradient-violet); */
    /* animation: BGGradient 6s ease infinite; */
  }
  @keyframes BGGradient {
    0% {
      background: var(--accent-gradient-violet);
    }
    50% {
      background: var(--accent-gradient-red);
    }
  }
  .splash-screen-container h2 {
    font-style: italic;
    font-weight: 100;
    font-size: 2rem;
    padding-left: 1rem;
  }
</style>
