---
import BouncingScroll from "../components/BouncingScroll.astro";
---

<div class='splash-screen-container'>
  <div class='splash-text'>
    <h1>
      <span>Web Experiment</span>
      <img
        src='/images/3d-rendering-ecosystem.png'
        alt='a happy man on a Vespa'
        class='illustration-spash-screen'
      />
    </h1>
    <h2>A playground to explore Web features</h2>
    <p class='definition'>
      <span>experiment</span>
      <span>ĭk-spĕr′ə-mənt</span>
      <span>noun</span>
      <span
        >A test under controlled conditions that is made to demonstrate a known
        truth, examine the validity of a hypothesis, or determine the efficacy
        of something previously untried.The process of conducting such a test;
        experimentation.An innovative act or procedure.</span
      >
    </p>
  </div>
  <img
    src='/images/Saly-3.png'
    alt='a happy man on a Vespa'
    class='illustration-spash-screen'
  />
  <BouncingScroll object='circle' duration='1.4' />
</div>

<style>
  .splash-screen-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 60% 30%;
    border-radius: 1.5rem;
    width: calc(100% - 3rem);
    height: calc(100vh - 3rem);
    margin: 0.5rem auto;
    background: var(--gradient-multi-radial);
    color: oklch(20% 0.273 329.8);
    padding: 1rem;
    position: relative;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  h2 {
    font-style: italic;
    font-weight: 100;
    font-size: 1.5rem;
  }
  .definition {
    display: none;
  }
  .splash-text {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    place-content: center;
    place-items: center;
  }
  .splash-text h1 {
    position: relative;
  }

  .splash-text h1 span {
    z-index: 2;
    position: relative;
  }
  .splash-text h1 img {
    width: 15vw;
    min-width: 150px;
    max-width: 400px;
    position: absolute;
    top: -50px;
    right: 30%;
    z-index: 0;
    animation: 5s bounce-wait 0.3s ease-in-out infinite;
  }
  img.illustration-spash-screen {
    width: 30vw;
    min-width: 200px;
    max-width: 400px;
    position: absolute;
    bottom: 110px;
    right: 30%;
    z-index: 5;
    animation: bounce-wait 5s ease-in-out infinite;
  }
  @media screen and (min-width: 1000px) {
    .splash-screen-container {
      border-radius: 6rem;
    }
    h1,
    h2 {
      text-shadow: var(--pink-1-darker-1-oklch-full) 0 0 20px;
    }
    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 2rem;
    }
    .splash-text h1 img {
      left: -140px;
    }
    img.illustration-spash-screen {
      right: 25%;
    }
  }
  @keyframes cross-screen {
    from {
      transform: translateX(-500px);
    }
    to {
      transform: translateX(1500px);
    }
  }
</style>
