---
import BouncingScroll from "../components/BouncingScroll.astro";
---

<div class='splash-screen-container'>
  <div class='splash-text'>
    <h1>
      <span>Web Experiment</span>
      <img
        src='/images/3d-rendering-ecosystem.png'
        alt='a happy man on a Vespa'
        class='illustration-spash-screen'
      />
    </h1>
    <h2>A playground to explore CSS features</h2>
    <p class='definition'>
      <span>experiment</span>
      <span>ĭk-spĕr′ə-mənt</span>
      <span>noun</span>
      <span
        >A test under controlled conditions that is made to demonstrate a known
        truth, examine the validity of a hypothesis, or determine the efficacy
        of something previously untried.The process of conducting such a test;
        experimentation.An innovative act or procedure.</span
      >
    </p>
  </div>
  <div class='illustration-spash-screen'>
    <img src='/images/Saly-3.png' alt='a happy man on a Vespa' />
  </div>
  <BouncingScroll object='circle' duration='1.4' />
</div>

<style>
  .splash-screen-container {
    display: grid;
    place-items: center;
    border-radius: 6rem;
    width: calc(100% - 3rem);
    height: 90vh;
    margin: 1.5rem auto;
    background: var(--gradient-multi-radial);
    color: oklch(20% 0.273 329.8);
    padding: 1rem;
    position: relative;
  }
  h1,
  h2 {
    text-shadow: var(--purple-1-oklch-full) 0 0 20px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  h2 {
    font-style: italic;
    font-weight: 100;
    font-size: 1.5rem;
  }
  .definition {
    display: none;
  }
  .splash-text h1 {
    position: relative;
  }

  .splash-text h1 span {
    z-index: 2;
    position: relative;
  }
  .splash-text h1 img {
    width: 15vw;
    min-width: 150px;
    max-width: 400px;
    position: absolute;
    top: -50px;
    left: -140px;
    z-index: 0;
    filter: drop-shadow(20px 15px 20px oklch(30% 0.1 329.8 / 45%));
    animation: 5s bounce-wait2 0.3s ease-in-out infinite;
  }
  .illustration-spash-screen img {
    width: 30vw;
    min-width: 150px;
    max-width: 400px;
    position: absolute;
    bottom: 250px;
    animation: bounce-wait2 5s ease-in-out infinite;
  }
  @media screen and (min-width: 1000px) {
    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  @keyframes bounce-wait2 {
    0% {
      transform: translateY(0);
      filter: drop-shadow(30px 10px 10px oklch(55.22% 0.1 329.8 / 45%));
    }
    20% {
      transform: translateY(-8px) scale3d(1.005, 1.005, 1);
      filter: drop-shadow(30px 30px 15px oklch(55.22% 0.1 329.8 / 45%));
    }
    31% {
      transform: translateY(0);
      filter: drop-shadow(30px 10px 10px oklch(55.22% 0.1 329.8 / 45%));
    }
    42% {
      transform: translateY(-8px) scale3d(1.005, 1.005, 1);
      filter: drop-shadow(30px 30px 15px oklch(55.22% 0.1 329.8 / 45%));
    }
    79% {
      transform: translateY(0);
      filter: drop-shadow(30px 10px 10px oklch(55.22% 0.1 329.8 / 45%));
    }
    100% {
      transform: translateY(0);
      filter: drop-shadow(30px 10px 10px oklch(55.22% 0.1 329.8 / 45%));
    }
  }
</style>
