---
export interface Props {
  title: string;
}

import "@fontsource/dm-serif-display";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient-red: radial-gradient(
      circle farthest-corner at 10.2% 55.8%,
      rgba(252, 37, 103, 1) 0%,
      rgba(250, 38, 151, 1) 46.2%,
      rgba(186, 8, 181, 1) 90.1%
    );
    --accent-gradient-violet: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(175, 216, 252, 1) 0%,
      rgba(91, 57, 207, 1) 90%
    );
  }
  html,
  body {
    max-width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  h1 {
    font-family: "DM Serif Display", cursive;
  }
</style>
