---
export interface Props {
  title: string;
}

import Footer from "../components/Footer.astro";
import "@fontsource/spline-sans-mono";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
import BaseHead from "../components/BaseHead.astro";
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
    <Footer />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --background-primary: #fff;
        --grey-disabled: rgb(214, 214, 214);
        --grey-disabled-dark: rgb(95, 95, 95);
        --red-1: var(--red-1-oklch-full);
        --red-1-rgba: rgba(252, 37, 103, 1);
        --red-1-rgb: 252 37 103;
        --red-1-oklch: 64.37% 0.287 11.38;
        --red-1-oklch-full: oklch(64.37% 0.287 11.38);
        --red-1-oklch-25: oklch(64.37% 0.287 11.38 / 25%);
        --pink-1: var(--pink-1-oklch-full);
        --pink-1-rgba: rgba(250, 38, 151, 1);
        --pink-1-rgb: 250 38 151;
        --pink-1-oklch: 65.43% 0.3 355.38;
        --pink-1-oklch-full: oklch(65.43% 0.3 355.38);
        --pink-1-oklch-25: oklch(65.43% 0.3 355.38 / 25%);
        --pink-1-darker-1-oklch-full: oklch(50% 0.3 355.38);
        --purple-1: var(--purple-1-oklch-full);
        --purple-1-rgba: rgba(186, 8, 181, 1);
        --purple-1-rgb: 186 8 181;
        --purple-1-oklch: 55.22% 0.273 329.8;
        --purple-1-oklch-full: oklch(55.22% 0.273 329.8);
        --purple-1-oklch-25: oklch(55.22% 0.273 329.8 / 25%);
        --purple-1-darker-1-oklch-full: oklch(40% 0.273 329.8);
        --blue-1: var(--blue-1-oklch-full);
        --blue-1-rgba: rgba(175, 216, 252, 1);
        --blue-1-rgb: 175 216 252;
        --blue-1-oklch: 86.51% 0.075 245.17;
        --blue-1-oklch-full: oklch(86.51% 0.075 245.17);
        --blue-1-oklch-25: oklch(86.51% 0.075 245.17 / 25%);
        --blue-1-darker-1: var(--blue-1-darker-1-oklch-full);
        --blue-1-darker-1-oklch: 70% 0.075 245.17;
        --blue-1-darker-1-oklch-full: oklch(70% 0.075 245.17);
        --blue-1-darker-1-oklch-25: oklch(70% 0.075 245.17 / 25%);
        --violet-1: var(--violet-1-oklch-full);
        --violet-1-rgba: rgba(91, 57, 207, 1);
        --violet-1-rgb: 91 57 207;
        --violet-1-oklch: 48.19% 0.285 285.39;
        --violet-1-oklch-full: oklch(48.19% 0.285 285.39);
        --violet-1-oklch-25: oklch(48.19% 0.285 285.39 / 25%);
        --accent-gradient-red: radial-gradient(
          circle farthest-corner at 10.2% 55.8%,
          var(--red-1-oklch-full) 0%,
          var(--pink-1-oklch-full) 46.2%,
          var(--purple-1-oklch-full) 90.1%
        );
        --accent-gradient-violet: radial-gradient(
          circle farthest-corner at 10% 20%,
          var(--blue-1) 0%,
          var(--violet-1) 90%
        );
        --gradient-multi-radial: linear-gradient(var(--pink-1), transparent),
          linear-gradient(90deg, var(--red-1), transparent),
          linear-gradient(-90deg, var(--purple-1), transparent);

        /* shadows */
        --shadow-color: 286deg 36% 56%;
        --shadow-elevation-low: 0.3px 0.5px 0.7px
            hsl(var(--shadow-color) / 0.34),
          0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
          1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
        --shadow-elevation-medium: 0.3px 0.5px 0.7px
            hsl(var(--shadow-color) / 0.36),
          0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
          2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
          5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
        --shadow-elevation-high: 0.3px 0.5px 0.7px
            hsl(var(--shadow-color) / 0.34),
          1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
          2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
          4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
          7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
          11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
          17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
          25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);

        background-blend-mode: screen;
      }
      html,
      body {
        max-width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
      }
      html {
        font-family: system-ui, sans-serif;
        min-height: 100vh;
      }
      body {
        min-height: 100vh;
        height: 100%;
      }
      main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }

      h1,
      h2 {
        font-family: "Spline Sans Mono", monospace;
      }
      * {
        overflow-wrap: break-word;
      }
      p {
        max-width: 60ch;
      }
      section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .btn {
        color: var(--primary-color-full, var(--purple-1-oklch-full));
        border: var(--primary-color-full, var(--purple-1-oklch-full)) 1px solid;
        border-radius: 6px;
        padding: 8px 12px 10px;
        text-decoration: none;
        transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
      }
      .btn:hover {
        color: #fff;
        background-color: var(--primary-color-full, var(--purple-1-oklch-full));
        border-color: transparent;
        box-shadow: 0 0 20px var(--primary-color-25, var(--purple-1-oklch-25));
      }
      .btn.lg {
        font-size: 1.2rem;
        padding: 10px 15px 12px;
      }
      @media screen and (min-width: 800px) {
        .btn {
          font-size: 0.8rem;
          padding: 6px 10px 8px;
        }
        .btn.lg {
          font-size: 1rem;
          padding: 8px 12px 10px;
        }
      }
      @keyframes bounce-wait {
        0% {
          transform: translateY(0);
          filter: drop-shadow(30px 10px 10px oklch(55.22% 0.1 329.8 / 45%));
        }
        20% {
          transform: translateY(-8px) scale3d(1.005, 1.005, 1);
          filter: drop-shadow(30px 30px 15px oklch(55.22% 0.1 329.8 / 45%));
        }
        31% {
          transform: translateY(0);
          filter: drop-shadow(30px 10px 10px oklch(55.22% 0.1 329.8 / 45%));
        }
        42% {
          transform: translateY(-8px) scale3d(1.005, 1.005, 1);
          filter: drop-shadow(30px 30px 15px oklch(55.22% 0.1 329.8 / 45%));
        }
        79% {
          transform: translateY(0);
          filter: drop-shadow(30px 10px 10px oklch(55.22% 0.1 329.8 / 45%));
        }
        100% {
          transform: translateY(0);
          filter: drop-shadow(30px 10px 10px oklch(55.22% 0.1 329.8 / 45%));
        }
      }
    </style>
  </body>
</html>
